<h1 align="center" style="text-align:center"><span lang="DA">Eksamen -
Institutionel forfatningsret og EU-forfatningsret - Sommer 2019<o:p></o:p></span></h1>

<p class="MsoNormal"><span lang="DA">&nbsp;</span></p>

<p class="MsoNormal"><i><span lang="DA">Folketingets
indflydelse og kontrol med regeringen er vigtige elementer i et demokratisk
samfund.<o:p></o:p></span></i></p>

<p class="MsoNormal"><i><span lang="DA">&nbsp;</span></i></p>

<p class="MsoNormal"><i><u><span lang="DA">Spørgsmål
1a<o:p></o:p></span></u></i></p>

<p class="MsoNormal"><i><span lang="DA">Redegør
for de centrale dele af Folketingets parlamentariske indflydelse i forbindelse
med regeringsdannelsen. Diskutér derefter de forfatningsretlige hensyn og
principper som ligger til grund for den parlamentariske indflydelse på
regeringsdannelsen.<o:p></o:p></span></i></p>

<p class="MsoNormal"><i><span lang="DA">&nbsp;</span></i></p>

<p class="MsoNormal"><i><u><span lang="DA">Spørgsmål
1b<o:p></o:p></span></u></i></p>

<p class="MsoNormal"><i><span lang="DA">Sæt
Folketingets indflydelse på regeringsdannelsen ind i et
magtfordelingsperspektiv og overvej, om magtfordelingen i forbindelse med
regeringsdannelsen er hensigtsmæssig.<o:p></o:p></span></i></p>

<p class="MsoNormal"><i><span lang="DA">&nbsp;</span></i></p>

<p class="MsoNormal"><i><u><span lang="DA">Spørgsmål
2<o:p></o:p></span></u></i></p>

<p class="MsoNormal"><i><span lang="DA">Redegør
kort for processen for udnævnelse af Kommissionen. Nævn to måder hvorpå
Europa-Parlamentet udøver indflydelse på udnævnelsen af Kommissionen, og
diskutér EU-forfatningsretlige fordele og ulemper ved den indflydelse.<o:p></o:p></span></i></p>

<p class="MsoNormal"><u><span lang="DA">&nbsp;</span></u></p>